/* Default text */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right,#ffddf3,#ffdce2,#ffdfce);
    font: 16px 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

p {padding: 0;
margin:0;
color: #337fa8}

.section-heading {
    font-weight:700 !important;
    color: #ff6a80;
    text-transform:uppercase;
}

section span {
    top: 15px;
    left: 15px;
}

.text-center {
    text-align: center;
}

/* buttons */

.btn-grad {
    background-color: transprent;
       margin: 10px;
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.8s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 0px;
       display: block;
       text-decoration: none;
       border: 2px solid #ff6a80;
        color: #337fa8;
        }
    
     .btn-grad:hover {
        background-image: linear-gradient(to right, #ffb6e6 25%, #ffb6c1  51%, #ffd0b6 100%);
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }

/* positions */
.relative {
    position:relative;
}

.absolute {
    position:absolute;
}

.height-100vh {
    min-height:100vh;
}

/* Spacing */
.p-15 {
    padding: 15px;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin:0;
}

.pt-54 {
    padding-top: 54px
}

.pb-54 {
    padding-bottom: 54px;
}

/* Border & notes */
.b-red {
    border: 1px solid red;
}

.b-blue {
    border: 1px solid blue;
}

/* For Flexbox (try to copy bootstrap */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
display:flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.justify-content-center {
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.align-items-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

.align-content-evenly {
    align-content: ;
}

/* Navbar and mobile menu */
nav {
    background-color: transparent;
}

.section-heading {
    font-weight:700 !important;
    color: #ff6a80;
}



/* Hero section */
.hero {
    min-height: calc(100vh - 81px);
    background-color: transparent;
    position:relative;
        
}

.hero h1 {
    font-size: 8vw;
    color: #ff6a80;
}





.hero .relative {
    position:relative;
    top: -50px;
}

/* About me */
.about-me {
    min-height: 100vh;
}

.about-me .img-box {
    width: 50vmin;
    height: 50vmin;
    overflow: hidden;
    margin:15px auto;
    border-radius: 50%;

}

.about-me .img-box img {
    max-width: 100%;
    max-height: 100%;
   
}

.about-me .text {
    max-width: 560px;
    
}

/* .about-me p {
color: black;}
    
} */



/* Projects */
.projects {
    min-height: 100vh;
    max-height: 100vh;
}

.projects .container {
    height: 100vh;
}




.projects .img-box {
    height: 50vmin;
    width: 50vmin;
    max-height: 40vh;
    max-width: 40vh;
    overflow: hidden;
    border-radius: 50%;
    margin:15px;
    }



.projects .img-box img {
        max-height: 100%;
       }

       .projects .img-box .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

.overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #337fa8;
      }

.projects .img-box:hover .overlay {
        opacity: 0.8;
      }
      

/* Contacts */
.contact {
    min-height: 100vh;
}

.contact .img-box {
    height: 50px;
    width: 50px;
    background-color: #337fa8;
    border-radius: 50%;
    margin: 15px;
    }

.contact .img-box:hover {
    background-image: linear-gradient(to right, #ff4ec1 25%, #ff7388  51%, #ffa676 100%);
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
}

.contact .img-box img {
    max-width: 100%;
    max-height: 100%;
   
}

.contact p {
    font-size: 24px;
}




/* Project: Beach */
.beach .img-box {
    width: 50vmin;
    height: 50vmin;
    overflow: hidden;
    margin:15px auto;
    border-radius: 50%;

}

.beach .img-box img {
    
    max-height: 100%;
   
}

.beach .text {
    max-width: 560px;
}


    